footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #013440;
}
.logoFooter{
    font-size: 1.1rem;
    color: #F2E9E4;
}
.linksDesktop {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.linksDesktop > svg {
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
}
.gmail {
    color: #F2E9E4;
}
.gmail:hover {
    color: #dd0e18;
    transition: .2s;
    transform: scale(1.2);
}
.github{
    color: #F2E9E4;
}
.github:hover{
    color: black;
    transition: .2s;
    transform: scale(1.2);
}
.gitlab{
    color: #F2E9E4;
}
.gitlab:hover{
    color: #E24329;
    transition: .2s;
    transform: scale(1.2);
}
.linkedin{
    color: #F2E9E4;
}
.linkedin:hover{
    color: #0961B8;
    transition: .2s;
    transform: scale(1.2);
}