.sobreMi {
  background-color: var(--background-secondary);
  position: relative;
  width: 100%;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0px;
  text-transform: uppercase;
  text-align: start;
  animation-name: entrada-de-texto-Sobre-Mi;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.acercaMio {
  width: 60%;
}
.acercaMio p {
  line-height: 22px;
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  color: #363636;
  animation-name: entrada-de-texto-Sobre-Mi;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes entrada-de-texto-Sobre-Mi {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
