body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  padding: 20vh 0;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Establecer el color de la barra de desplazamiento y del thumb */
::-webkit-scrollbar-track {
  background-color: #B4D2D9;
}

::-webkit-scrollbar-thumb {
  background-color: #025159;
}